.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        font-weight: 500;
    }

    .nav-links{
        .nav-link{
            margin: 1.5em;
            font-size: 1.2em;
            color: #000;
            text-decoration: none;
        }
    }
}